* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0a5f0a;
    padding: 30px 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    color: #006400;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
}

p {
    margin-bottom: 20px;
    color: #aaa;
}

.upload-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.custom-file-upload,
#scanButton {
    background-color: #006400;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    display: inline-block;
}

.custom-file-upload:hover,
#scanButton:hover {
    background-color: #004d00;
}

#imageInput {
    display: none;
}

.output-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.image-wrapper {
    text-align: center;
    max-width: 45%;
}

.image-wrapper h2 {
    font-size: 1.2em;
    color: #00aa00;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border: 4px solid #86ffb5;
    border-radius: 5px;
    object-fit: contain;
}
.success-message {
    color: #28a745; /* Bright green for success */
    font-size: 0.9em;
    margin-top: 10px;
    display: none; /* Hidden by default */
}

.show-success {
    display: inline; /* Displays the message when success is triggered */
}

@media (max-width: 768px) {
    .output-box {
        flex-direction: column;
    }

    .image-wrapper {
        max-width: 100%;
    }

    h1 {
        font-size: 2.2em;
    }

    p, h2 {
        font-size: 1.2em;
    }
}
